<!DOCTYPE html>
{% load static %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="https://kit.fontawesome.com/972fba9208.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <a href="/">
            <img class="logo" src="{% static 'logo.png' %}" alt="logo">
        </a>
        <div class="container">
            <div class="form-box">
                <h1 id="title">Sign Up</h1>
                <form method="POST" action="{% url 'registerUniversity' %}">
                    {% csrf_token %}
                    <div class="input-group">
                        <div class="input-field" id="nameField">
                            <i class="fa-solid fa-user"></i>
                            <input type="text" name="full_name" id="id_full_name" placeholder="Name" required>
                            
                        </div>
                        <div>
                            {% for error in form.full_name.errors %}
                                <span class="error-message" style="margin-top: 50px;">{{ error }}</span>
                            {% endfor %}
                        </div>
                
                        <div class="input-field">
                            <i class="fa-solid fa-envelope"></i>
                            <input type="email" name="email" id="id_email" placeholder="Email" required>
                            
                        </div>
                        <div>
                            {% for error in form.email.errors %}
                                <span class="error-message" style="margin-top: 50px;">{{ error }}</span>
                            {% endfor %}
                        </div>
                
                        <div class="input-field">
                            <i class="fa-solid fa-lock"></i>
                            <input type="password" name="password1" id="id_password1" placeholder="Password" required>
                            
                        </div>
                        <div>
                            {% for error in form.password1.errors %}
                                <span class="error-message" style="margin-top: 50px;">{{ error }}</span>
                            {% endfor %}
                        </div>
                
                        <div class="input-field">
                            <i class="fa-solid fa-lock"></i>
                            <input type="password" name="password2" id="id_password1" placeholder="Confirm Password" required>
                            
                        </div>
                        <div>
                            {% for error in form.password2.errors %}
                                <span class="error-message" style="margin-top: 50px;">{{ error }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="btn-field" style="margin-top: 100px;">
                        <button type="submit">Sign up</button>
                        <button><a href="{% url 'login' %}">Sign in</a></button>
                    </div>
                </form>
                
            </div>
        </div>
    </header>
</body>

</html>